<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rentit.priyath.rentitlayout">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.rentit.priyath.rentitlayout.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.rentit.priyath.rentitlayout.permission.C2D_MESSAGE" />

    <application
        android:name=".globalData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCoNkaPlKl1xJYii4ZEtkHDTrkZW-KkyWo" />

        <activity
            android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Details1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".myAds"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wishlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PostAdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chatInterface"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".NetworkReciever">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GCMInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" />

        <activity android:name=".imageVIewer" />
        <activity
            android:name=".RatingActivity"
            android:label="Ratings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity"
            android:label="Log In"/>
        <activity android:name=".SignUp"
            android:label="Register"/>
    </application>

</manifest>